.footer_container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #f34, #725);
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    color: #ffffff;
}